$maxContentWidth: 900px;

@import './theme/variables';
//Bootstrap Import
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@function set-text-color($color) {
  @if (lightness( $color ) > 40) {
    @return black;
  } @else {
    @return white;
  }
}

@if $primary!=#fff {
  ::-moz-selection {
    color: set-text-color($primary);
    background-color: $primary !important;
  }

  ::selection {
    color: set-text-color($primary);
    background-color: $primary !important;
  }
}

$border-radius-scroll: 0px;
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


::-webkit-scrollbar-track {
  border-radius: $border-radius-scroll !important;
  background-color: transparent !important;
}


::-webkit-scrollbar-thumb {
  background: $primary !important;
  border-radius: $border-radius-scroll !important;
}

body {
  padding: 0;
  margin: 0;
}


.main{
  max-width: $maxContentWidth;
  @extend .p-3;
  //padding: 8px 12px;
  //text-align: center;
}

#top {
  z-index: 1000 !important;
}

.clickable {
  cursor: pointer;

  &:focus{
    outline: $primary solid 2px;
  }
}

@import "~@/theme/theme";

